<%= render 'shared/error_messages', object: f.object %>
<%= f.label :title, 'Заголовок' %>
<%= f.text_field :title %>
<%= f.label :order, 'Порядок' %>
<%= f.number_field :order %>
<%= f.label :enabled, 'Доступность' %>
<%= f.check_box :enabled %>
<%= f.label :desc, 'Описание' %>
<%= f.text_area :desc %>