<li class="slide">
	<h2 class="title"><%= service.title || "Создание" %></h2>
	<div class="form form-small">	
		<%= form_for service do |f| %>
			<%= render 'fields', f: f %>
			<% unless service.new_record? %>
				<%= link_to 'Удалить', service, method: 'delete', class: 'btn' %>
				<%= f.submit 'Изменить' %>
			<% else %>
				<%= f.submit 'Создать' %>
			<% end %>
		<% end %>
	</div>
</li>