<% provide :title, 'Услуги' %>
<section class="block">
	<div class="container">
		<div class="services slider">
			<span class="prev">
				<i class="fa fa-chevron-left fa-2x"></i>
			</span>
			<span class="next">
				<i class="fa fa-chevron-right fa-2x"></i>
			</span>
			<ul class="slide-frame">
				<div class="vertical-middle"></div>
				<% get_services.each do |service| %>
				<%= render @services %>
				<%= render 'service', service: Service.new %>
				<% end %>
			</ul>
		</div>
	</div>
</section>