<% provide :title, "Вход" %>
<section class="block">
	<div class="container">
		<h1>Вход</h1>
		<div class="form">
			<%= form_for(:session, url: sessions_path) do |f| %>
				<%= f.label :email %>
				<%= f.email_field :email %>
				<%= f.label :password %>
				<%= f.password_field :password %>
				<%= f.submit 'Вход' %>
			<% end %>
		</div>
	</div>
</section>