<tr class='form form-small'>
<%= form_for menu do |f| %>
	<td><%= f.number_field	:order %></td>
	<td><%= f.text_field 	:title %></td>
	<td><%= f.text_field	:href %></td>
	<td><%= f.check_box		:enabled %></td>
	<% unless menu.new_record? %>
		<td><%= f.submit 'Изменить' %></td>
		<td><%= link_to 'Удалить', menu, method: 'delete', class: 'btn' %></td>
	<% else %>
		<td colspan="2">
			<%= f.submit 'Сохранить' %>
		</td>
	<% end %>
<% end %>
</tr>