<% provide :title, 'Изменение меню' %>
<section class="block">
	<div class="container">
		<h1>Изменение меню</h1>
		<table class="table">
			<thead>
				<th>#</th>
				<th>Заголовок</th>
				<th>Путь</th>
				<th>Доступность</th>
				<th colspan="2">Действия</th>
			</thead>
			<%= render @menus %>
			<%= render 'menu', menu: Menu.new %>
		</table>
	</div>
</section>