<%= render 'shared/error_messages',	object: f.object %>
<%= f.label				:name %>
<%= f.text_field		:name %>
<%= f.label				:email %>
<%= f.email_field		:email %>
<%= f.label				:password %>
<%= f.password_field	:password %>
<%= f.label				:password_confirmation %>
<%= f.password_field	:password_confirmation %>