<tr>
	<td><%= user.id %></td>
	<td><%= user.name %></td>
	<td><%= link_to user.email, "mailto:#{user.email}" %></td>
	<td><%= link_to 'Просмотр', user %></td>
	<td><%= link_to 'Изменить', edit_user_path(user) %></td>
	<td><%= link_to 'Удалить', user, method: 'delete' unless current_user?(user) %></td>
</tr>