<% provide :title, "Изменение #{@user.name}" %>
<section class="block">
	<div class="container">
		<h1><%= "Изменение #{@user.name}" %></h1>
		<div class="form">
			<%= form_for @user, class: 'form' do |f| %>
				<%= render 'fields', f: f %>
				<%= f.submit 'Изменить' %>
			<% end %>
		</div>
	</div>
</section>
			