<% provide :title, 'Пользователи' %>
<section class="block">
	<div class="container">
		<h1>Пользователи</h1>
		<table class="table">
			<thead>
				<th>#</th>
				<th>Имя</th>
				<th>email</th>
				<th colspan="3">Действия</th>
			</thead>
			<%= render @users %>
		</table>
		<%= link_to 'Создать', new_user_path %>
		<%= will_paginate %>
	</div>
</section>