<% provide :title, "Регистрация" %>

<section class="block">
	<div class="container">
		<h1>Регистрация</h1>
		<div class="form">
			<%= form_for @user, class: 'form' do |f| %>
				<%= render 'fields', f: f %>
				<%= f.submit 'Вход' %>
			<% end %>
		</div>
	</div>
</section>