<% provide :title, 'Главная' %>
<% @pages.each do |page| %>
	<section id="<%= page.href %>" class="block">
		<div class="container">
			<%= render inline: page.body %>
		</div>
	</section>
<% end %>