<%= render 'shared/error_messages', object: f.object %>
<%= f.label :title, 'Заголовок' %>
<%= f.text_field :title %>
<%= f.label :href, 'Адрес' %>
<%= f.text_field :href %>
<%= f.label :enabled, 'Доступность' %>
<%= f.check_box :enabled %>
<%= f.label :meta_title %>
<%= f.text_field :meta_title %>
<%= f.label :meta_desc %>
<%= f.text_field :meta_desc %>
<%= f.label :meta_keywords %>
<%= f.text_field :meta_keywords %>
<%= f.label :body, 'Страница' %>
<%= f.text_area :body %>