<tr>
	<td><%= page.id %></td>
	<td><%= page.title %></td>
	<td><%= page.href %></td>
	<td><%= link_to 'Просмотр', page %></td>
	<td><%= link_to 'Изменить', edit_page_path(page) %></td>
	<td><%= link_to 'Удалить', page, method: 'delete' %></td>
</tr>