<% provide :title, "Изменение #{@page.title}" %>
<section class="block">
	<div class="container">
		<h1>Изменение <%= @page.title %></h1>
		<div class="form form-small">
			<%= form_for @page, class: 'form' do |f| %>
				<%= render 'fields', f: f %>
				<%= f.submit 'Изменить' %>
			<% end %>
		</div>
	</div>
</section>
			