<% provide :title, 'Страницы' %>
<section class="block">
	<div class="container">
		<h1>Страницы</h1>
		<table class="table">
			<thead>
				<th>#</th>
				<th>Заголовок</th>
				<th>Путь</th>
				<th colspan="3">Действия</th>
			</thead>
			<%= render @pages %>
		</table>
		<%= link_to 'Создать', new_page_path, class: 'btn' %>
		<%= will_paginate %>
	</div>
</section>