<% provide :title, 'Создание страницы' %>
<section class="block">
	<div class="container">
		<h1>Создание страницы</h1>
		<div class="form form-small">
			<%= form_for @page, class: 'form' do |f| -%>
				<%= render 'fields', f: f %>
				<%= f.submit 'Создать' %>
			<% end -%>
		</div>
	</div>
</section>