<% provide :title, @page.title %>
<section class="block">
	<div class="container">
		<h1><%= @page.title %></h1>
		<div id="content">
			<%= render inline: @page.body %>
		</div>
	</div>
</section>