// Mixins
.linear-gradient(@c1, @c2) {
	background: -webkit-linear-gradient(@c1, @c2);
	background:    -moz-linear-gradient(@c1, @c2);
	background:		 ms-linear-gradient(@c1, @c2);
	background: 	  o-linear-gradient(@c1, @c2);
	background: 		linear-gradient(@c1, @c2);
}
.linear-gradient(@c1, @c2, @c3) {
	background: -webkit-linear-gradient(@c1, @c2, @c3);
	background:    -moz-linear-gradient(@c1, @c2, @c3);
	background:		 ms-linear-gradient(@c1, @c2, @c3);
	background: 	  o-linear-gradient(@c1, @c2, @c3);
	background: 		linear-gradient(@c1, @c2, @c3);
}
.linear-gradient(@c1, @c2, @c3, @c4) {
	background: -webkit-linear-gradient(@c1, @c2, @c3, @c4);
	background:    -moz-linear-gradient(@c1, @c2, @c3, @c4);
	background:		 ms-linear-gradient(@c1, @c2, @c3, @c4);
	background: 	  o-linear-gradient(@c1, @c2, @c3, @c4);
	background: 		linear-gradient(@c1, @c2, @c3, @c4);
}
.linear-gradient(@c1, @c2, @c3, @c4, @c5) {
	background: -webkit-linear-gradient(@c1, @c2, @c3, @c4, @c5);
	background:    -moz-linear-gradient(@c1, @c2, @c3, @c4, @c5);
	background:		 ms-linear-gradient(@c1, @c2, @c3, @c4, @c5);
	background: 	  o-linear-gradient(@c1, @c2, @c3, @c4, @c5);
	background: 		linear-gradient(@c1, @c2, @c3, @c4, @c5);
}
.linear-gradient(@c1, @c2, @c3, @c4, @c5, @c6) {
	background: -webkit-linear-gradient(@c1, @c2, @c3, @c4, @c5, @c6);
	background:    -moz-linear-gradient(@c1, @c2, @c3, @c4, @c5, @c6);
	background:		 ms-linear-gradient(@c1, @c2, @c3, @c4, @c5, @c6);
	background: 	  o-linear-gradient(@c1, @c2, @c3, @c4, @c5, @c6);
	background: 		linear-gradient(@c1, @c2, @c3, @c4, @c5, @c6);
}
.box-sizing {
	box-sizing: -webkit-border-box;
	box-sizing:    -moz-border-box;
	box-sizing:     -ms-border-box;
	box-sizing:      -o-border-box;
	box-sizing:  		border-box;
}
.transition(@c1, @c2, @c3) {
	-webkit-transition: @c1 @c2 @c3;
	   -moz-transition: @c1 @c2 @c3;
		-ms-transition: @c1 @c2 @c3;
		 -o-transition: @c1 @c2 @c3;
			transition: @c1 @c2 @c3;
}
.transition(@c1, @c2, @c3, @c4) {
	-webkit-transition: @c1 @c2 @c3 @c4;
	   -moz-transition: @c1 @c2 @c3 @c4;
		-ms-transition: @c1 @c2 @c3 @c4;
		 -o-transition: @c1 @c2 @c3 @c4;
			transition: @c1 @c2 @c3 @c4;
}
.blur(@c1) {
	-webkit-filter: blur(2px);
	   -moz-filter: blur(2px);
		-ms-filter: blur(2px);
		 -o-filter: blur(2px);
			filter: blur(2px);
}

// Helpers
.vertical-middle {
	display: inline-block;
	position: relative;
	width: 0 !important;
	height: 100%;
	vertical-align: middle;
}

// Fonts
@font-face {
	font-family: 'BicubikRegular';
	src:	url(/fonts/bicubik.eot);
	src:	url(/fonts/bicubik.eot?#iefix) format('embedded-opentype'),
			url(/fonts/bicubik.woff2) format('woff2'),
			url(/fonts/bicubik.woff) format('woff'),
			url(/fonts/bicubik.ttf) format('truetype'),
			url(/fonts/bicubik.svg#bicubikregular) format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
    font-family: 'Open Sans Light';
    src: url('/fonts/opensans-light.eot');
    src: url('/fonts/opensans-light.eot?#iefix') format('embedded-opentype'),
         url('/fonts/opensans-light.woff2') format('woff2'),
         url('/fonts/opensans-light.woff') format('woff'),
         url('/fonts/opensans-light.ttf') format('truetype'),
         url('/fonts/opensans-light.svg#open_sanslight') format('svg');
    font-weight: lighter;
    font-style: normal;
    font-size: small;
}
@font-face {
    font-family: 'Open Sans';
    src: url('/fonts/opensans-regular.eot');
    src: url('/fonts/opensans-regular.eot?#iefix') format('embedded-opentype'),
         url('/fonts/opensans-regular.woff2') format('woff2'),
         url('/fonts/opensans-regular.woff') format('woff'),
         url('/fonts/opensans-regular.ttf') format('truetype'),
         url('/fonts/opensans-regular.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Poiret One';
    src: url('/fonts/poiretone-regular.eot');
    src: url('/fonts/poiretone-regular.eot?#iefix') format('embedded-opentype'),
         url('/fonts/poiretone-regular.woff2') format('woff2'),
         url('/fonts/poiretone-regular.woff') format('woff'),
         url('/fonts/poiretone-regular.ttf') format('truetype'),
         url('/fonts/poiretone-regular.svg#poiret_oneregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family: 'Lobster';
	src:	url('/fonts/lobster-webfont.eot');
	src:	url('/fonts/lobster-webfont.eot?#iefix') format('embedded-opentype'),
			url('/fonts/lobster-webfont.woff2') format('woff2'),
			url('/fonts/lobster-webfont.woff') format('woff'),
			url('/fonts/lobster-webfont.ttf') format('truetype'),
			url('/fonts/lobster-webfont.svg#lobsterregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

.bicubik	{ font-family: 'BicubikRegular',	cursive; }
.poiret		{ font-family: 'Poiret One', 		cursive; }
// .ptsans		{ font-family: 'PT Sans Narrow',	sans-serif; }
.opensans	{ font-family: 'Open Sans Light',			sans-serif; }
.lobster	{ font-family: 'Lobster', 			cursive; }

// Variables

@base-color: rgba(255, 255, 255, 0.2);


// Styles
#micro { display: none; }
* {
	margin: 0;
	padding: 0;
	.poiret;
	.box-sizing;
}
h1, h2, h3, h4 {
	.poiret;
}
h1 { margin-bottom: 1em; }
h2 { margin-bottom: 0.7em; }
h3 { margin-bottom: 0.7em; }
p, ul, li, a {	margin: 0.3em; .opensans; color: white; }
#logo {
	display: inline-block;
	a {
		display: block;
		text-decoration: none;
		.bicubik;
		font-weight: bolder;
		color: white;
		text-shadow: 0.1em 0.2em 0.4em #222;
		font-size: 2em;
		padding: 0.4em;
		vertical-align: top;
		margin: 0;
	}
}
#nav_btn {
	display: inline-block;
	vertical-align: top;
	cursor: pointer;
	&:hover {

	}
}
body {
	background-image: url(/images/1.jpg);
	background-size: cover;
	background-attachment: fixed;
}
iframe {
	width: 100%;
	min-height: 30vw;
	margin-top: 1em;
}
.form {
	textarea, input {
		background: rgba(255, 255, 255, 0.7);
		width: 100%;
	}
	input, textarea, label, .btn {
		padding: 0.4em 0.6em;
		display: block;
		font-size: large;
		.opensans;
		margin: 0.5em 0;
		outline: none;
		border: none;
		&:focus {
			box-shadow: 0 0 0.5em darkgreen;
			background: rgba(255, 255, 255,0.9);
		}
		&[type="submit"], &[href] {
			margin-top: 1em;
			cursor: pointer;
			width: auto;
			background: @base-color;
			color: white;
			text-shadow: 0.1em 0.2em 0.3em #222;
			text-decoration: none;
			&:hover {
				background: darken(@base-color, 10%);
				color: white;
				box-shadow: 0 0 0.5em darkgreen;
			}
		}
	}
	&-small {
		input, textarea, label, .btn {
			padding: 0.3em;
			font-size: small;
			display: inline-block;
			width: auto;
			float: right;
			clear: right; 
		}
		input[type="submit"] { clear: none; }
		label { 
			clear: left;
			float: left; 
		}
		textarea {
			clear: both;
			width: 100%;
			min-height: 12em;
		}
		.cke {
			display: none !important;
			// clear: both;
			// width: 100%;
		}
	}
}
table {
	width: 100%;
	text-align: center;
	overflow-x: auto;
	tr {
		max-width: 100%;
	}
	th, td {
		width: auto;
		text-align: center;
		input {
			float: none;
			display: inline-block;
		}
	}
}
header {
	#main_nav {
		ul.nav {
			list-style: none;
			margin: 0;
			.transition(left, ease, 0.3s);
			li {
				display: block;
				background: fadeout(@base-color, 10%);
				.transition(all, ease, 0.2s);
				margin: 0;
				a {
					display: block;
					padding: 1em 2em;
					text-decoration: none;
					color: white;
					text-shadow: 0.1em 0.2em 0.3em #222;
					text-transform: uppercase;
					margin: 0;
				}
				&:hover {
					background-color: lighten(@base-color, 20%);
				}
				&.current {
					background-color: lighten(@base-color, 25%);
				} 
			}
		}
	}
}

// Responsibility

@media screen and (max-width: 720px) {
	body {
		// background: #eee;
		header {
			position: relative;
			#main_nav {
				position: relative;
				height: auto;
				.nav {
					display: none;
					&.opened {
						display: block;
					}
				}
			}
		}
		#nav_arrows { display: none; }
		.player { display: none; }
		#main {
			position: relative;
			.container {
				padding: 1em;
				background: @base-color;
				color: white;
				text-shadow: 0.1em 0.1em 0.2em #222;
			}
		}
	}
	#footer {
		color: white;
		text-shadow: 0.1em 0.1em 0.2em #222;
		padding: 0 1em 1em 1em;
		margin-top: 0;
	}
	.slider {
		.prev, .next {
			display: none;
		}
	}
	#wrapper { display: none !important; }
	#wrapper_mbYTP_bgndVideo { display: none !important; }
}

@media screen and (min-width: 720px) {
	body {
		overflow: hidden;
		height: 100vh;
		width: 100vw;
		header {
			* { z-index: 10; }
			#main_nav {
				position: fixed;
				top: 0;
				left: 0;
				height: auto;
				.transition(width, ease, 10s);
				width: auto;
				&:hover {
					ul.nav {
						left: 0;
					}
				}
				ul.nav {
					left: -95%;
					position: absolute;
					width: 100%;
					height: 100%;
				}
			}
		}
		#main {
			position: relative;
			width: 100%;
			height: 100%;
			.transition(margin-top, ease, 0.5s);
			.block {
				position: relative;
				height: 100%;
				overflow: hidden;
				.container {
					background: @base-color;
					margin: 2em 2em 2em 0;
					color: white;
					text-shadow: 0.1em 0.2em 0.3em #222;
					width: 50vw;
					max-height: 100%;
					float: right;
					padding: 2em;
					vertical-align: middle;
					z-index: 1;
				}
			}
		}
		#wrapper_mbYTP_bgndVideo { 
			z-index: -2 !important; 
			display: block; 
		}
		#wrapper {
			z-index: -2;
			overflow: hidden;
			text-align: center;
			height: 100%;
			min-height: 100%;
			min-width: 100%; 
			position: absolute !important;
			top: 0;
			left: 0;
			display: block;
			.pattern {
				background: url(/images/pattern.png);
				background-repeat: repeat;
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				z-index: -1;
			}
			#tubular-container {
				z-index: -1 !important;
			}
			#tubular-player {
				margin: 0 !important;
				min-width: 100% !important;
				// min-height: 100% !important;
			}
		}
		#footer {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			padding: 1em;
			vertical-align: middle;
			#dev_info {
				color: white;
				position: absolute;
				bottom: 0;
				left: 0;
				padding: 1em;
				#logo_dev {
					color: white;
					text-decoration: none;
					.lobster;
				}
			}
			#nav_arrows {
				list-style: none;
				float: right;
				* {
					cursor: pointer;
					display: block;
					z-index: 20;
				}
				.prev { margin-bottom: 0.5em; }
			}
		}
	}
	.slider {
		overflow: hidden;
		height: 70vh;
		position: relative;
		margin: 0 -2em;
		.prev, .next {
			cursor: pointer;
			z-index: 2;
			position: absolute;
			top: 0;
			height: 100%;
			display: table;
			&>* {
				vertical-align: middle;
				display: table-cell;
			}
		}
		.prev { left: 0.3em; }
		.next { right: 0.3em; }
		.slide-frame {
			width: 5000%;
			position: absolute;
			left: 0;
			top: 0;
			bottom: 0;
			list-style: none;
			margin: 0;
			.transition(left, ease, 0.3s);
			.slide {
				width: 50vw;
				padding: 0 2em;
				vertical-align: middle;
				display: inline-block;
				position: relative;
				margin: 0;
			}
		}
	}
}

@media screen and (max-height: 500px) {
	#nav_arrows {
		display: none;
	}
}