<header class="layout-header">
	<div class="layout-container">
		<div class="layout-col-2 logo">
			<%= link_to 'CMS', '/' %>
		</div>
		<div class="layout-col-10 nav">
			<nav class="layout-nav">
				<ul>
					<li><%= link_to 'Пользователи',	users_path %></li>
					<li><%= link_to 'Меню',		menus_path %></li>
					<li><%= link_to 'Страницы',	pages_path %></li>
					<li><%= link_to 'Услуги',	services_path %></li>
				</ul>
			</nav>
		</div>
	</div>
</header>
<div class="layout-main">
	<div class="layout-container">
		<%= render 'shared/alerts' %>
		<%= yield %>
	</div>
</div>
<footer class="layout-footer">
	<%= render 'layouts/footer' %>
</footer>