<div class="vertical-middle"></div>
<div id="dev_info">
	Создано <a href="http://voove.ru" id="logo_dev">VooVe</a> специально для &copy; ООО "Контр-В" <%= DateTime.now.year %>
</div>
<% unless cms? %>
<ul id="nav_arrows">
	<li><i class="fa fa-chevron-up fa-2x fa-inverse prev"></i></li>
	<li><i class="fa fa-chevron-down fa-2x fa-inverse next"></i></li>
</ul>
<% end %>