<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
<title><%= full_title(yield(:title)) %></title>
<%= csrf_meta_tags %>
<meta name="title" content="<%= meta_title %>"/>
<meta name="description" content="<%= meta_desc %>"/>
<meta name="keywords" content="<%= meta_keywords %>"/>
<meta name="viewport" content="width=device-width, user-scalable=no"/>
<meta name='yandex-verification' content='7e68b0bf8d1e7002' />