<div id="micro" itemscope itemtype="http://schema.org/Organization">
	<span itemprop="name">ООО "Контр-В"</span>
	<div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
		<span itemprop="streetAddress">Гатчинская, 3а</span>
		<span itemprop="postalCode">188510</span>
		<span itemprop="addressLocality">
			Волосово
		</span>
		<span itemprop="addressCountry">Россия</span>
		<span itemprop="addressRegion">
			Ленинградская область
		</span>
	</div>
	<div itemprop="geo" itemscope itemtype="http://schema.org/geo">
		<span itemprop="latitude">59.4537712</span>
		<span itemprop="longitude">29.4976668</span>
	</div>
	<span itemprop="telephone">+7 921 447-40-30</span>
	<span itemprop="email">contr-v@mail.ru</span>
</div>