<!DOCTYPE html>
<html>
	<head><%= render 'layouts/header' %></head>
	<body>
		<header>
			<nav id="main_nav">
				<span id="nav_btn" class="fa-stack fa-2x">
					<i class="fa fa-navicon fa-stack-1x fa-inverse"></i>
				</span>
				<div id="logo"><a href="/">Контр-В</a></div>
				<ul class="nav">
					<% @menu.each do |x| %>
						<li><%= link_to x.title, (cms? ? x.href : "##{x.href}") %></li>
					<% end %>
				</ul>
			</nav>
		</header>
		<main id="main">
			<%= yield %>
		</main>
		<section id="wrapper">
			<div class="pattern"></div>
			<% unless cms? %>
			<a id="bgndVideo" class="player mb_YTVPlayer" data-property="{videoURL:'http://www.youtube.com/watch?v=0cQHmNJ4nFE',containment:'body',autoPlay:true, mute:true, startAt:0, opacity:1}" style="display: none; background: none;" title="Contr-V Promo"></a>
			<% end %>
		</section>
		<footer id="footer"><%= render 'layouts/footer' %></footer>
		<%= render 'layouts/micro' unless cms? %>
	</body>
	<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true, async: true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true, async: true %>
	<%= render 'layouts/adv' %>
</html>
